
.signupbox {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 550px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 400px;
    column-rule-color: rgb(41, 55, 61);
    caret-color: rgb(41, 55, 61);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 15% 35%;
    outline: rgb(41, 55, 61) none 0px;
}/*#DIV_2*/

.signupheading{
    border-bottom: 1px solid silver;
    font-size: 28px;
    text-align: center;
    padding-bottom: 5px;
    color: #29373d;
    font-family: Veneer;


}
 
.signUpLabel{
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(41, 55, 61);
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
}

.signUpDiv{
    box-sizing: border-box;
    clear: both;
    color: rgb(41, 55, 61);
    height: 55px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 291px;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 145.5px 27.5px;
    transform-origin: 145.5px 27.5px;
    caret-color: rgb(41, 55, 61);
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 20px 0px 0px;
    outline: rgb(41, 55, 61) none 0px;
    margin: 10%;
}

.signUpInput{
    color: rgb(41, 55, 61);
    height: 30px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 300px;
    column-rule-color: rgb(41, 55, 61);
    caret-color: rgb(41, 55, 61);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 20px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
    padding: 5px;
}

.signUpButton{
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 40px;
    min-height: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 315px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 150px 20px;
    transform-origin: 150px 20px;
    caret-color: rgb(255, 255, 255);
    background: rgb(114, 24, 42) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(72, 15, 26);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 28px / normal ropa_sansregular;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 10px 4px;
}

.signup {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 20px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 978px;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 489px 79px;
    transform-origin: 489px 79px;
    caret-color: rgb(41, 55, 61);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 0px 0px 25px;
    outline: rgb(41, 55, 61) none 0px;
}

.signupNav {
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 0px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 978px;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 489px 0px;
    transform-origin: 489px 0px;
    caret-color: rgb(41, 55, 61);
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
}/*#DIV_2, #DIV_10*/

.signupSpan {
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(41, 55, 61);
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
}/*#SPAN_3*/

#A_4 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(114, 24, 42);
    display: block;
    float: left;
    height: 82px;
    text-decoration: none solid rgb(114, 24, 42);
    text-size-adjust: 100%;
    width: 157px;
    column-rule-color: rgb(114, 24, 42);
    perspective-origin: 78.5px 41px;
    transform-origin: 78.5px 41px;
    caret-color: rgb(114, 24, 42);
    background: rgba(0, 0, 0, 0) url("https://static.olocdn.net/img/thecounter/logo_2.png") no-repeat scroll 0px 0px / contain padding-box border-box;
    border: 0px none rgb(114, 24, 42);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 15px 20px;
    outline: rgb(114, 24, 42) none 0px;
}/*#A_4*/

.loginbox {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 380px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 400px;
    column-rule-color: rgb(41, 55, 61);
    caret-color: rgb(41, 55, 61);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 15% 35%;
    outline: rgb(41, 55, 61) none 0px;
}/*#DIV_2*/


#DIV_3 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 510px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 978px;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 489px 255px;
    transform-origin: 489px 255px;
    caret-color: rgb(41, 55, 61);
    background: rgba(0, 0, 0, 0) url("https://static.olocdn.net/img/thecounter/hero/desktop.png") no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
    margin: 10% 18%;
}/*#DIV_3*/

#menu-outer {
	height: 84px;
	background:  repeat-x;
}

.tableLangingPage {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
    padding: 20px;
    margin : 5% 50%
	}
	ul#horizontal-list li {
        display: inline;
        padding: 10px 40px;
        color: black;
	}

