
/* .locationtable{
    margin-left: -20%;
} */

.locationButton{
    margin-left: -65%;
}


.location {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 20px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 978px;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 489px 79px;
    transform-origin: 489px 79px;
    caret-color: rgb(41, 55, 61);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 0px 0px 25px;
    outline: rgb(41, 55, 61) none 0px;
}

.locationNav {
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    height: 0px;
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    width: 978px;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 489px 0px;
    transform-origin: 489px 0px;
    caret-color: rgb(41, 55, 61);
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
}/*#DIV_2, #DIV_10*/


.locationSpan {
    box-sizing: border-box;
    color: rgb(41, 55, 61);
    text-decoration: none solid rgb(41, 55, 61);
    text-size-adjust: 100%;
    column-rule-color: rgb(41, 55, 61);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(41, 55, 61);
    border: 0px none rgb(41, 55, 61);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    outline: rgb(41, 55, 61) none 0px;
}/*#SPAN_3*/


#A_4 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(114, 24, 42);
    display: block;
    float: left;
    height: 82px;
    text-decoration: none solid rgb(114, 24, 42);
    text-size-adjust: 100%;
    width: 157px;
    column-rule-color: rgb(114, 24, 42);
    perspective-origin: 78.5px 41px;
    transform-origin: 78.5px 41px;
    caret-color: rgb(114, 24, 42);
    background: rgba(0, 0, 0, 0) url("https://static.olocdn.net/img/thecounter/logo_2.png") no-repeat scroll 0px 0px / contain padding-box border-box;
    border: 0px none rgb(114, 24, 42);
    font: normal normal 400 normal 18px / normal ropa_sansregular;
    margin: 15px 20px;
    outline: rgb(114, 24, 42) none 0px;
}/*#A_4*/

#menu-outer-location {
	height: 84px;
	background:  repeat-x;
}

.tableLocation {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list-location {
	min-width: 696px;
	list-style: none;
    padding: 20px;
    margin : 5% 40%
	}
	ul#horizontal-list-location li {
        display: inline;
        padding: 10px 40px;
        color: black;
    }
    
    #DIV_1 {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 0px inset;
        box-sizing: border-box;
        color: rgb(41, 55, 61);
        float: left;
        height: 241.667px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 644.312px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 322.156px 120.833px;
        transform-origin: 322.156px 120.833px;
        caret-color: rgb(41, 55, 61);
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        margin: 0px 23.0521px 0px 146.698px;
        outline: rgb(41, 55, 61) none 0px;
        padding: 30px;
    }/*#DIV_1*/
    
    #DIV_1:after {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_1:after*/
    
    #DIV_1:before {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_1:before*/
    

    .locationBox {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 0px inset;
        box-sizing: border-box;
        color: rgb(41, 55, 61);
        height: 550px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 700px;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        margin: 15% 22%;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_2*/

    #H1_3 {
        box-sizing: border-box;
        clear: both;
        color: rgb(41, 55, 61);
        height: 45px;
        text-align: center;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        /* width: 584.312px; */
        width: 100%;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 292.156px 22.5px;
        transform-origin: 292.156px 22.5px;
        caret-color: rgb(41, 55, 61);
        border-top: 0px none rgb(41, 55, 61);
        border-right: 0px none rgb(41, 55, 61);
        border-bottom: 1px solid rgb(204, 204, 204);
        border-left: 0px none rgb(41, 55, 61);
        font: normal normal 700 normal 28px / normal Veneer;
        margin: 0px;
        outline: rgb(41, 55, 61) none 0px;
        padding: 5px 0px;
    }/*#H1_3*/

    #H1_3:after {
        color: rgb(41, 55, 61);
        text-align: center;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 700 normal 28px / normal Veneer;
        outline: rgb(41, 55, 61) none 0px;
    }/*#H1_3:after*/

    #H1_3:before {
        color: rgb(41, 55, 61);
        text-align: center;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 700 normal 28px / normal Veneer;
        outline: rgb(41, 55, 61) none 0px;
    }/*#H1_3:before*/
    
    #DIV_4 {
        box-sizing: border-box;
        clear: both;
        color: rgb(41, 55, 61);
        height: 82.6667px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 584.312px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 292.156px 41.3333px;
        transform-origin: 292.156px 41.3333px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_4*/
    
    #DIV_4:after {
        clear: both;
        color: rgb(41, 55, 61);
        content: '"' '"';
        display: table;
        height: 0px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 0px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 0px 0px;
        transform-origin: 0px 0px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_4:after*/
    
    #DIV_4:before {
        color: rgb(41, 55, 61);
        content: '"' '"';
        display: table;
        height: 0px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 0px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 0px 0px;
        transform-origin: 0px 0px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_4:before*/
    
    #DIV_5 {
        box-sizing: border-box;
        clear: both;
        color: rgb(41, 55, 61);
        height: 62.6667px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 584.312px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 292.156px 31.3333px;
        transform-origin: 292.156px 31.3333px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        margin: 20px 0px 0px;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_5*/
    
    #DIV_5:after {
        clear: both;
        color: rgb(41, 55, 61);
        content: '"' '"';
        display: table;
        height: 0px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 0px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 0px 0px;
        transform-origin: 0px 0px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_5:after*/
    
    #DIV_5:before {
        color: rgb(41, 55, 61);
        content: '"' '"';
        display: table;
        height: 0px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 0px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 0px 0px;
        transform-origin: 0px 0px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_5:before*/

    #DIV_6 {
        box-sizing: border-box;
        color: rgb(41, 55, 61);
        height: 62.6667px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 584.312px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 292.156px 31.3333px;
        transform-origin: 292.156px 31.3333px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_6*/
    
    #DIV_6:after {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_6:after*/
    
    #DIV_6:before {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#DIV_6:before*/
    
    #H2_7 {
        box-sizing: border-box;
        clear: both;
        color: rgb(41, 55, 61);
        height: 31.6667px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 100%;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 292.156px 15.8333px;
        transform-origin: 292.156px 15.8333px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 700 normal 22px / normal Veneer;
        margin: 0px;
        outline: rgb(41, 55, 61) none 0px;
        padding: 20px 20px 20px 20px;
    }/*#H2_7*/
    
    #H2_7:after {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 700 normal 22px / normal Veneer;
        outline: rgb(41, 55, 61) none 0px;
    }/*#H2_7:after*/
    
    #H2_7:before {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 700 normal 22px / normal Veneer;
        outline: rgb(41, 55, 61) none 0px;
    }/*#H2_7:before*/
    
    #FORM_8 {
        box-sizing: border-box;
        color: rgb(41, 55, 61);
        height: 31px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 584.312px;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 292.156px 15.5px;
        transform-origin: 292.156px 15.5px;
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        margin: 0px;
        outline: rgb(41, 55, 61) none 0px;
    }/*#FORM_8*/
    
    #FORM_8:after {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#FORM_8:after*/
    
    #FORM_8:before {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#FORM_8:before*/
    
    #INPUT_9 {
        color: rgb(41, 55, 61);
        display: block;
        float: left;
        height: 30px;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        width: 80%;
        column-rule-color: rgb(41, 55, 61);
        perspective-origin: 167.552px 15px;
        transform-origin: 167.552px 15px;
        caret-color: rgb(41, 55, 61);
        background: rgba(0, 0, 0, 0) url("https://static.olocdn.net/img/inputGradientSm.png") repeat scroll 0% 0% / auto padding-box border-box;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 3px 3px 3px 3px;
        font: normal normal 400 normal 22px / normal ropa_sansregular;
        margin: 20px;
        outline: rgb(41, 55, 61) none 0px;
        padding: 3px;
    }/*#INPUT_9*/
    
    #INPUT_9:after {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 22px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#INPUT_9:after*/
    
    #INPUT_9:before {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 22px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#INPUT_9:before*/
    
    #INPUT_10, #INPUT_11, #INPUT_13 {
        color: rgb(41, 55, 61);
        cursor: default;
        display: none;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
        padding: 0px;
    }/*#INPUT_10, #INPUT_11, #INPUT_13*/
    
    #INPUT_10:after, #INPUT_11:after, #INPUT_13:after {
        color: rgb(41, 55, 61);
        cursor: default;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#INPUT_10:after, #INPUT_11:after, #INPUT_13:after*/
    
    #INPUT_10:before, #INPUT_11:before, #INPUT_13:before {
        color: rgb(41, 55, 61);
        cursor: default;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#INPUT_10:before, #INPUT_11:before, #INPUT_13:before*/
    
    #INPUT_12 {
        color: rgb(41, 55, 61);
        cursor: default;
        display: none;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
        padding: 0px;
    }/*#INPUT_12*/
    
    #INPUT_12:after {
        color: rgb(41, 55, 61);
        cursor: default;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#INPUT_12:after*/
    
    #INPUT_12:before {
        color: rgb(41, 55, 61);
        cursor: default;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#INPUT_12:before*/
    
    #BUTTON_14 {
        bottom: 0px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        height: 31px;
        left: 20px;
        position: relative;
        right: 0px;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        top: 0px;
        width: 44.5833px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 22.2917px 15.5px;
        transform-origin: 22.2917px 15.5px;
        caret-color: rgb(255, 255, 255);
        background: rgb(114, 24, 42) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 1px solid rgb(72, 15, 26);
        border-radius: 4px 4px 4px 4px;
        font: normal normal 400 normal 22px / normal ropa_sansregular;
        outline: rgb(255, 255, 255) none 0px;
        padding: 3px 10px 4px;
    }#BUTTON_14
    
    #BUTTON_14:after {
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        column-rule-color: rgb(255, 255, 255);
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 22px / normal ropa_sansregular;
        outline: rgb(255, 255, 255) none 0px;
    }/*#BUTTON_14:after*/
    
    #BUTTON_14:before {
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        column-rule-color: rgb(255, 255, 255);
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 22px / normal ropa_sansregular;
        outline: rgb(255, 255, 255) none 0px;
    }/*#BUTTON_14:before*/
    
    #SPAN_15 {
        box-sizing: border-box;
        color: rgb(41, 55, 61);
        display: none;
        float: right;
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#SPAN_15*/
    
    #SPAN_15:after {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#SPAN_15:after*/
    
    #SPAN_15:before {
        color: rgb(41, 55, 61);
        text-decoration: none solid rgb(41, 55, 61);
        text-size-adjust: 100%;
        column-rule-color: rgb(41, 55, 61);
        caret-color: rgb(41, 55, 61);
        border: 0px none rgb(41, 55, 61);
        font: normal normal 400 normal 18px / normal ropa_sansregular;
        outline: rgb(41, 55, 61) none 0px;
    }/*#SPAN_15:before*/
    
    .locationButton {
        background:none!important;
        color:inherit;
        border:none; 
        padding:0!important;
        font: inherit;
        /*border is optional*/
        border-bottom:1px solid #444; 
        cursor: pointer;
   }
   
    